# Before starting postgres pull down the latest backup:
#   su - postgres -c 'envdir {{pg_wale_env_folder}} {{pg_wale_bin}} -k {{pg_wale_access_key_id}} --s3-prefix={{pg_wale_s3_prefix}} backup-fetch {{pg_wale_pg_directory}} LATEST'
restore_command = 'envdir {{pg_wale_env_folder}} {{pg_wale_bin}} -k {{pg_wale_access_key_id}} --s3-prefix={{pg_wale_s3_prefix}} wal-fetch "%f" "%p"'
